<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Importing-Essential-Libraries" data-toc-modified-id="Importing-Essential-Libraries-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Importing Essential Libraries</a></span></li><li><span><a href="#Data-Preparation" data-toc-modified-id="Data-Preparation-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data Preparation</a></span><ul class="toc-item"><li><span><a href="#Loading-the-DataSet" data-toc-modified-id="Loading-the-DataSet-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Loading the DataSet</a></span></li><li><span><a href="#Checking-number-of-features-and-data-present-in-the-dataset" data-toc-modified-id="Checking-number-of-features-and-data-present-in-the-dataset-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Checking number of features and data present in the dataset</a></span></li><li><span><a href="#Checking-the-unique-values" data-toc-modified-id="Checking-the-unique-values-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Checking the unique values</a></span></li><li><span><a href="#Checking-the-Cancelled-Data" data-toc-modified-id="Checking-the-Cancelled-Data-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Checking the Cancelled Data</a></span></li><li><span><a href="#avg-of-transaction-per-customer" data-toc-modified-id="avg-of-transaction-per-customer-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>avg of transaction per customer</a></span></li><li><span><a href="#avg-number-of-Unique-Items-per-order" data-toc-modified-id="avg-number-of-Unique-Items-per-order-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>avg number of Unique Items per order</a></span></li><li><span><a href="#Revenue-CountryWise" data-toc-modified-id="Revenue-CountryWise-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>Revenue CountryWise</a></span></li><li><span><a href="#Unique-Customers-in-UK" data-toc-modified-id="Unique-Customers-in-UK-2.8"><span class="toc-item-num">2.8&nbsp;&nbsp;</span>Unique Customers in UK</a></span></li><li><span><a href="#Item's-Quantity-bought-in-UK" data-toc-modified-id="Item's-Quantity-bought-in-UK-2.9"><span class="toc-item-num">2.9&nbsp;&nbsp;</span>Item's Quantity bought in UK</a></span></li></ul></li></ul></div>

## Importing Essential Libraries

In [1]:
import numpy as np
import pandas as pd

## Data Preparation

### Loading the DataSet

In [2]:
df = pd.read_excel('Online Retail DataSet.xlsx')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

### Checking number of features and data present in the dataset

In [3]:
df.shape

(541909, 8)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [5]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [6]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [7]:
df.describe(include="all")

C:\Users\durat\AppData\Local\Temp/ipykernel_28140/1985922364.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe(include="all")

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
count,541909.0,541909,540455,541909.000000,541909,541909.000000,406829.000000,541909
unique,25900.0,4070,4223,NaN,23260,NaN,NaN,38
top,573585.0,85123A,WHITE HANGING HEART T-LIGHT HOLDER,NaN,2011-10-31 14:41:00,NaN,NaN,United Kingdom
freq,1114.0,2313,2369,NaN,1114,NaN,NaN,495478
first,NaN,NaN,NaN,NaN,2010-12-01 08:26:00,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,2011-12-09 12:50:00,NaN,NaN,NaN
mean,NaN,NaN,NaN,9.552250,NaN,4.611114,15287.690570,NaN
std,NaN,NaN,NaN,218.081158,NaN,96.759853,1713.600303,NaN
min,NaN,NaN,NaN,-80995.000000,NaN,-11062.060000,12346.000000,NaN
25%,NaN,NaN,NaN,1.000000,NaN,1.250000,13953.000000,NaN
50%,NaN,NaN,NaN,3.000000,NaN,2.080000,15152.000000,NaN
75%,NaN,NaN,NaN,10.000000,NaN,4.130000,16791.000000,NaN
max,NaN,NaN,NaN,80995.000000,NaN,38970.000000,18287.000000,NaN

### Checking the unique values

In [8]:
df['InvoiceNo'].nunique()

25900

In [9]:
df['StockCode'].nunique()

4070

In [10]:
df['CustomerID'].nunique()

4372

In [11]:
df["Country"].nunique()

38

### Checking the Cancelled Data

In [12]:
df_cancelled = df[df['InvoiceNo'].astype(str).str.contains('C')]
df_cancelled['InvoiceNo'].count()

9288

In [13]:
(df_cancelled['InvoiceNo'].count()/df['InvoiceNo'].nunique())*100

35.86100386100386

In [14]:
df_cancelled.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom

In [15]:
df_customer_id = df['CustomerID'].unique()

### avg of transaction per customer

In [16]:
type(df.groupby('CustomerID'))

pandas.core.groupby.generic.DataFrameGroupBy

In [17]:
df_custGroup = df.groupby('CustomerID')
df_custGroup.head()
#df_custGroup['InvoiceNo'].nunique()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541768,581578,POST,POSTAGE,3,2011-12-09 12:16:00,18.00,12713.0,Germany
541769,581578,21124,SET/10 BLUE POLKADOT PARTY CANDLES,24,2011-12-09 12:16:00,1.25,12713.0,Germany
541770,581578,21122,SET/10 PINK POLKADOT PARTY CANDLES,24,2011-12-09 12:16:00,1.25,12713.0,Germany
541771,581578,21121,SET/10 RED POLKADOT PARTY CANDLES,24,2011-12-09 12:16:00,1.25,12713.0,Germany
541772,581578,23389,SPACEBOY MINI BACKPACK,4,2011-12-09 12:16:00,4.15,12713.0,Germany

In [18]:
df.groupby(["CustomerID"]).agg({"InvoiceNo":'count'})

            InvoiceNo
CustomerID
12346.0             2
12347.0           182
12348.0            31
12349.0            73
12350.0            17
...               ...
18280.0            10
18281.0             7
18282.0            13
18283.0           756
18287.0            70

[4372 rows x 1 columns]

In [19]:
np.mean(df.groupby('CustomerID')['InvoiceNo'].nunique())

5.07548032936871

In [20]:
np.mean(df.groupby('CustomerID')['InvoiceNo'].nunique().count()) ##WRONG

4372.0

In [21]:
df.groupby('CustomerID')['InvoiceNo'].nunique().sum()/df.groupby('CustomerID')['InvoiceNo'].nunique().count()

5.07548032936871

In [22]:
df.groupby('CustomerID')['InvoiceNo'].nunique().sum()/len(df.groupby('CustomerID')['InvoiceNo'].nunique())

5.07548032936871

In [23]:
np.median(df.groupby('CustomerID')['InvoiceNo'].nunique())

3.0

### avg number of Unique Items per order

In [24]:
df.groupby('InvoiceNo')['StockCode'].nunique().sum()/len(df.groupby('InvoiceNo')['StockCode'].nunique())

20.51061776061776

### Revenue CountryWise

In [25]:
df['Revenue'] = (df['UnitPrice']*df['Quantity'])

In [26]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [27]:
df_country = df.groupby('Country')
df_country.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
395472,571035,21238,RED RETROSPOT CUP,8,2011-10-13 12:50:00,0.85,12446.0,RSA,6.80
395473,571035,21243,PINK POLKADOT PLATE,8,2011-10-13 12:50:00,1.69,12446.0,RSA,13.52
395474,571035,23240,SET OF 4 KNICK KNACK TINS DOILY,6,2011-10-13 12:50:00,4.15,12446.0,RSA,24.90
395475,571035,23209,LUNCH BAG VINTAGE DOILY,10,2011-10-13 12:50:00,1.65,12446.0,RSA,16.50
395476,571035,23201,JUMBO BAG ALPHABET,10,2011-10-13 12:50:00,2.08,12446.0,RSA,20.80

In [28]:
CountryRevenue = df.groupby('Country')['Revenue'].sum()
CountryRevenue

Country
Australia                137077.270
Austria                   10154.320
Bahrain                     548.400
Belgium                   40910.960
Brazil                     1143.600
Canada                     3666.380
Channel Islands           20086.290
Cyprus                    12946.290
Czech Republic              707.720
Denmark                   18768.140
EIRE                     263276.820
European Community         1291.750
Finland                   22326.740
France                   197403.900
Germany                  221698.210
Greece                     4710.520
Hong Kong                 10117.040
Iceland                    4310.000
Israel                     7907.820
Italy                     16890.510
Japan                     35340.620
Lebanon                    1693.880
Lithuania                  1661.060
Malta                      2505.470
Netherlands              284661.540
Norway                    35163.460
Poland                     7213.140
Portugal                  29367.020
RSA                        1002.310
Saudi Arabia                131.170
Singapore                  9120.390
Spain                     54774.580
Sweden                    36595.910
Switzerland               56385.350
USA                        1730.920
United Arab Emirates       1902.280
United Kingdom          8187806.364
Unspecified                4749.790
Name: Revenue, dtype: float64

In [29]:
max(df.groupby('Country')['Revenue'].sum())

8187806.364

In [30]:
df_country_rev = df.groupby(["Country"]).agg({"Revenue": np.sum}).sort_values(by = "Revenue",ascending = False)
df_country_rev

                          Revenue
Country
United Kingdom        8187806.364
Netherlands            284661.540
EIRE                   263276.820
Germany                221698.210
France                 197403.900
Australia              137077.270
Switzerland             56385.350
Spain                   54774.580
Belgium                 40910.960
Sweden                  36595.910
Japan                   35340.620
Norway                  35163.460
Portugal                29367.020
Finland                 22326.740
Channel Islands         20086.290
Denmark                 18768.140
Italy                   16890.510
Cyprus                  12946.290
Austria                 10154.320
Hong Kong               10117.040
Singapore                9120.390
Israel                   7907.820
Poland                   7213.140
Unspecified              4749.790
Greece                   4710.520
Iceland                  4310.000
Canada                   3666.380
Malta                    2505.470
United Arab Emirates     1902.280
USA                      1730.920
Lebanon                  1693.880
Lithuania                1661.060
European Community       1291.750
Brazil                   1143.600
RSA                      1002.310
Czech Republic            707.720
Bahrain                   548.400
Saudi Arabia              131.170

In [31]:
#df_country_rev.iloc[:,:]

In [32]:
# import matplotlib.pyplot as plt
# fig = plt.figure(figsize =(35,15))
# plt.bar(df['Country'].unique(), df_CountryRevenue, color ='maroon',width = 0.4)
 
# plt.xlabel("Country")
# plt.ylabel("Revenue")
# plt.title("Revenue for Country")
# plt.show()

### Unique Customers in UK

In [33]:
df_UCustInUK = df.groupby(["Country"]).agg({"CustomerID": 'nunique'}).sort_values(by = "CustomerID",ascending = False)
df_UCustInUK

                      CustomerID
Country
United Kingdom              3950
Germany                       95
France                        87
Spain                         31
Belgium                       25
Switzerland                   21
Portugal                      19
Italy                         15
Finland                       12
Austria                       11
Norway                        10
Netherlands                    9
Australia                      9
Channel Islands                9
Denmark                        9
Cyprus                         8
Sweden                         8
Japan                          8
Poland                         6
USA                            4
Canada                         4
Unspecified                    4
Israel                         4
Greece                         4
EIRE                           3
Malta                          2
United Arab Emirates           2
Bahrain                        2
Lithuania                      1
Czech Republic                 1
Lebanon                        1
RSA                            1
Saudi Arabia                   1
Singapore                      1
Iceland                        1
Brazil                         1
European Community             1
Hong Kong                      0

In [34]:
#df_UCustInUK.groupby('Country','StockCode')['Quantity'].sum()

### Item's Quantity bought in UK

In [35]:
df_stock = df.groupby(["Country","StockCode"] , as_index=False).agg({"Quantity": np.sum}).sort_values(by = "Quantity",ascending = False)
df_stock

              Country StockCode  Quantity
16498  United Kingdom     22197     52928
18050  United Kingdom     84077     48326
19085  United Kingdom    85099B     43167
19096  United Kingdom    85123A     36706
18163  United Kingdom     84879     33519
...               ...       ...       ...
18711  United Kingdom   79323LP     -2618
18714  United Kingdom    79323W     -4838
18641  United Kingdom    72140F     -5368
17256  United Kingdom     23003     -8525
17258  United Kingdom     23005    -14468

[19839 rows x 3 columns]